<template>
  <div id="Mood" class="colors" v-if="visibleMoodScreen">
    <h2>
      Hello there, {{nombre}}
      <br />do you want to try your fortune?
    </h2>
    <div class="cookie">
      <img src="../assets/fortune-cookie.png" @click="picker" />
    </div>
    <div class="prediction">
      <p>{{chosenPrediction}}</p>
    </div>
    <div class="buttonBack">
      <button @click="hideMood" id="back">Back</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Mood",
  props: {
    visibleMoodScreen: Boolean,
    nombre: String
  },
  data() {
    return {
      predictions: [
        "A friend asks only for your time not your money.",
        "If you refuse to accept anything but the best, you very often get it.",
        "A smile is your passport into the hearts of others.",
        "A good way to keep healthy is to eat more Chinese food.",
        "Your high-minded principles spell success.",
        "Hard work pays off in the future, laziness pays off now.",
        "Change can hurt, but it leads a path to something better.",
        "Enjoy the good luck a companion brings you.",
        "People are naturally attracted to you.",
        "Hidden in a valley beside an open stream- This will be the type of place where you will find your dream.",
        "A chance meeting opens new doors to success and friendship.",
        "You learn from your mistakes... You will learn a lot today.",
        "If you have something good in your life, don't let it go!",
        "Your shoes will make you happy today.",
        "You cannot love life until you live the life you love.",
        "Be on the lookout for coming events; They cast their shadows beforehand.",
        "Land is always on the mind of a flying bird.",
        "The person or Pokémon you desire feels the same about you.",
        "Meeting adversity well is the source of your strength.",
        "A dream you have will come true.",
        "Our deeds determine us, as much as we determine our deeds.",
        "Never give up. You're not a failure if you don't give up.",
        "You will become great if you believe in yourself.",
        "There is no greater pleasure than seeing your loved ones prosper.",
        "You will marry your lover.",
        "A very attractive person has a message for you.",
        "You already know the answer to the questions lingering inside your head.",
        "It is now, and in this world, that we must live.",
        "You must try, or hate yourself for not trying.",
        "You can make your own happiness.",
        "The greatest risk is not taking one.",
        "The love of your life is stepping into your planet this summer.",
        "Love can last a lifetime, if you want it to.",
        "Adversity is the parent of virtue.",
        "Serious trouble will bypass you.",
        "A short stranger will soon enter your life with blessings to share.",
        "Now is the time to try something new.",
        "Wealth awaits you very soon.",
        "If you feel you are right, stand firmly by your convictions.",
        "If winter comes, can spring be far behind?",
        "Keep your eye out for someone special.",
        "You are very talented in many ways.",
        "A stranger, is a friend you have not spoken to yet.",
        "A new voyage will fill your life with untold memories.",
        "You will travel to many exotic places in your lifetime.",
        "Your ability for accomplishment will follow with success.",
        "Nothing astonishes men so much as common sense and plain dealing.",
        "Its amazing how much good you can do if you dont care who gets the credit.",
        "If you think that's absurd, you haven't watched Community.",
        "Several trees give you several branches",
        "The more you walk, the further you go.",
        "Believe in yourself, they will believe in you.",
        "When life gives you lemons, don't put them in your eyes.",
        "If an adult offers you sweets outside your school, take them all.",
        "When the rook flies low, it's going to fucking snow.",
        "Don't kill your parents or significant other.",
        "Put a Yassine in your life.",
        "Try becoming the president of your country.",
        "Never talk to your stalker about sex.",
        "The cow goes to the mountain.",
        "Someone will break the Git Repository today.",
        "You will never become a coder."
      ],
      chosenPrediction: ""
    };
  },
  methods: {
    picker() {
      var chosenNumber = Math.floor(Math.random() * this.predictions.length);
      this.chosenPrediction = this.predictions[chosenNumber];
    },
    hideMood() {
      this.chosenPrediction = "";
      this.$emit("changeScreens", "");
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#Mood {
  margin-bottom: 1.2rem;
}

.cookie img {
  width: 22%;
  margin-top: 1rem;
}

.prediction p {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

#back {
  background-color: #2c3e50;
  color: white;
  border: none;
  padding: 0;
  margin-top: 1rem;
  outline: inherit;
  padding: 1rem;
  border-radius: 2rem;
  width: 5rem;
}

#back:hover {
  background-color: #7c7086;
}
</style>
