<template>
  <div id="Name" v-if="visibleNameScreen">
    <h2>I'm curious, what's your name?</h2>
    <div class="inputName">
      <input
        id="inputBox"
        type="text"
        v-model="nameInput"
        nameInput="your name"
        @keyup.enter="functionButtonOk"
      />
      <button id="submitName" @click="functionButtonOk">OK</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Name",
  props: {
    visibleNameScreen: Boolean,
    nameInput: String
  },
  methods: {
    beInvisible() {
      this.visible = false;
    },
    changeVisibility() {
      this.visible = this.visibleNameScreen;
    },
    functionButtonOk() {
      this.beInvisible();
      this.$emit("eventfunctionbuttonok", this.nameInput);
    }
  }
};
</script>

<style>
#Name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3rem;
}

.inputName {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

#inputBox {
  width: 10rem;
  height: 2rem;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

#submitName {
  background-color: #2c3e50;
  color: white;
  border: none;
  padding: 0;
  margin-left: 3rem;
  outline: inherit;
  padding: 1rem;
  border-radius: 2rem;
  width: 4rem;
}

#submitName:hover {
  background-color: #7c7086;
}
</style>
