    <template>
  <div id="Prueba" class="colors">
        <button @click="picker">Choose!</button>
    <p>{{chosenName}}</p>

  <div id="app-4">
  <ol>
    <li v-for="(name, index) in list" :key="index">
      {{ name }}
    </li>
  </ol>
</div>
  </div>
</template>
    
    <script>
export default {
      data() {
          return {
      list: ['Ashley','Andy','Andrew','Chad','Hiep','Sarah','David'],
      chosenName: '',
      todos: [
      { text: 'Learn JavaScript' },
      { text: 'Learn Vue' },
      { text: 'Build something awesome' }
    ]
      }},
      method: {
      picker: function(){
        var chosenNumber = Math.floor(Math.random() * this.list.length);
        this.chosenName = this.list[chosenNumber];
      }
    }
}
    </script>

    <style>
    p {
  font-size: 2em;
  text-align: center;
  color: #EF5350;
}
button {
  border: none;
  background: #EF5350;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 1px 5px rgba(68, 68, 68, 0.5);
}
    </style>