<template>
  <div id="app">
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/>-->
    <Name @eventfunctionbuttonok="getName2" :visibleNameScreen="visibleName" :nameInput="name" />
    <Mood :nombre="name" :visibleMoodScreen="visibleMood" @changeScreens="showNameScreen" />
    <!-- <Prueba/>-->
  </div>
</template>
<script>
//import HelloWorld from './components/HelloWorld.vue'
import Name from "./components/Name.vue";
import Mood from "./components/Mood.vue";
//import Prueba from './components/Prueba.vue'

export default {
  name: "app",
  components: {
    //HelloWorld,
    Mood,
    Name
    // Prueba
  },
  data() {
    return {
      name: null,
      visibleMood: false,
      visibleName: true
    };
  },
  methods: {
    getName2(nameValue) {
      this.visibleMood = true;
      this.visibleName = false;
      this.name = nameValue;
    },
    showNameScreen() {
      this.name = "";
      this.visibleName = true;
      this.visibleMood = false;
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #333b36;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
</style>
